.login-background {
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/9f/bc/3a/9fbc3a85077774e42f940a6bbda9ae5f.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 150px;

  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-icon {
    margin-right: 10px;
  }
  
  